body {
    background: #222;
}
.div {
    height: 250px;
    width: 60px;
    background: #b1060f;
    position: relative;
}

.div:before {
   height: 250px;
   width: 60px;
   background: #b1060f;
   position: absolute;
   content: "";
   left: 90px;
}

.div:after {
    height: 20px;
    width: 175px;
    background: #222;
    position: absolute;
    content: "";
    left: -15px;
    bottom: -10px;
    border-radius: 50%;
}

.span {
   position: absolute;
   height: 250px;
   width: 60px;
   background: #e50913;
   left: 46px;
   transform: skew(20deg);
   box-shadow: 0 0 10px -4px #222;
}